.btn-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;

  .btn {
    background-color: #fff;
    border: 5px solid;
    font-size: 30px;
    padding: 20px;
    cursor: pointer;
  }

}

.nums-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
